<div class="chat-top">
  <div class="left-header">
    <div class="current-room">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end-btn">
      <%= link_to 'チャットを終了する', room_path(@room), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>

<div class="chat-center">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'chat-bottom', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'text-form',placeholder: 'type a message' %>
    <label class="image-form">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'text-btn' %>
<% end %>